@use '../abstracts/variables' as *;
@use '../abstracts/media' as *;

.studies {
	padding: 70px 60px;
	color: $color-light;
	background-color: $color-dark;
	border-radius: $border-radius-large;

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	&__item {
		--studiesItemPaddingX: 64px;

		display: flex;
		flex-direction: column;
		row-gap: 20px;

		&:not(:first-child) {
			padding-left: var(--studiesItemPaddingX);
		}

		&:not(:last-child) {
			padding-right: var(--studiesItemPaddingX);
			border-right: 1px solid $color-light;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		column-gap: 15px;
		font-size: 20px;
		line-height: 1.4;
		color: $color-accent;

		@include hover {
			opacity: 0.7;
		}
	}
}
