@use '../abstracts/mixins' as *;

@font-face {
	font-display: swap;
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/fonts/space-grotesk-v21-latin-regular.woff2')
		format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 500;
	src: url('../../assets/fonts/space-grotesk-v21-latin-500.woff2')
		format('woff2');
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font-weight: 500;
}

h1,
.h1 {
	@include fluid-text(60, 43);
}

h2,
.h2 {
	@include fluid-text(40, 36);
}

h3,
.h3 {
	@include fluid-text(30, 26);
}

h4,
.h4 {
	@include fluid-text(20, 18);
}
