@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/media' as *;

.container {
	max-width: calc($container-width + $container-padding-x * 2);
	padding-inline: $container-padding-x;
	margin-inline: auto;
}

.visually-hidden {
	@include visually-hidden;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}
